.containerBorder {
    border: thin solid darkgray;
    border-radius: 5px;
}
#summaryContainer {
    width: 200px;
    height: 450px;
    background-color: #ebebeb;
    float: left;

}

#mainContainer {
    height: 450px;
    overflow: auto;
}
#parallelContainer {
    height: 300px;
}

.title{
    margin: 4px;
    font-family: sans-serif;
    font-size: medium;

}
.dimensionInfo{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.fa-info-circle{
    float: right;
}